<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
			type="text/css"
			media="screen"
			title="style.css" />
		<title>Flask Render</title>
	</head>
	<body>
		<form action="" method="POST">
			<input type="text" name="content" />
			<input type="text" name="content" />
			<input type="text" name="content" />
		</form>

		<div class="test">
			{%for client in content%}
			<p>name: {{client[1]}}</p>
			<p>email: {{client[2]}}</p>
			{%endfor%}
			<hr />
		</div>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
